.critter-icon-nav {
  text-decoration: none;
}

.critter-wrapper {
display: flex;
flex-wrap: wrap;
}

.critter-title {
  text-align: center;
  font-size: 2em;
  color: aliceblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}