.critter-icon-nav {
  text-decoration: none;
}

.critter-wrapper {
display: flex;
flex-wrap: wrap;
}

.critter-title {
  text-align: center;
  font-size: 2em;
  color: rgb(211, 211, 211);
  text-shadow: -1px -1px 0 #464646, 1px -1px 0 #464646, -1px 1px 0 #464646, 1px 1px 0 #464646;
  }

@media screen and (max-width: 600px) {
  .critter-title {
    margin: .5em;
  }
}